body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.question_card{
  box-sizing: border-box;
  width: 90%;
  height: 90%;


  background: url("https://source.unsplash.com/1920x1080/?nature");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.3em;
  box-shadow: 0 0 1rem 0.5em rgba(0, 0, 0, 0.2);
  padding: 2%;
}
.game_section {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.question_defenition {
  padding: 3%;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  border-radius: 1.5vw;
  font-size: 1.5vw;
  box-shadow: 0 0 5vw 0 rgba(0, 0, 0, 0.5) inset;
}
.question_answers {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.question_answers .question_answer {
  padding: 1.5%;
  box-sizing: border-box;
  margin: 0.5% 0;
  border-radius: 0.5em;
  background-color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in  ;
}
.question_answers .question_answer:hover {
  cursor: pointer;
}
.question_answers .question_answer > div {
  font-size: 2vw;
  font-weight: bold;
  margin-right: 1%;
}
.right_answer {
  background: rgb(15,97,0);
  background: linear-gradient(150deg, rgba(15,97,0,1) 14%, rgba(71,203,95,1) 91%);
}
.right_answer_text {
  color: #fff;
  box-shadow: 0 0 5vw 1vw rgba(0, 255, 0, 0.5);
}

.wrong_answer {
  
  background: rgb(131,1,1);
  background: linear-gradient(150deg, rgba(131,1,1,1) 14%, rgba(203,71,71,1) 91%);
}
.wrong_answer_text {
  box-shadow: 0 0 2vw 0 rgba(255, 0, 0, 0.5);
  color: #fff;
}


.game_info {
  display: flex;
  justify-content: space-between;
}
.game_info div {
  box-shadow: 0 0 2vw 0 rgba(0, 0, 0, 0.5) inset;

  background-color: #fff;
  border-radius: 1vw;
  padding: 1vw;
  margin-bottom: 1vw;
  box-sizing: border-boxs;
}


@media screen and (max-width: 1000px) {
  .question_card{
    height: 95vh;
    width: 95vw;
  }
  .question_answers .question_answer {
    padding: 2%;
  }
}


@media screen and (max-width: 500px) {
  
  .question_defenition {
    font-size: 5vw;
    padding: 8vw;
    margin: 2vw 0;
  }
  .question_answers {
    width: 90%;
    margin-bottom: 13%;
  }
  .question_answers .question_answer {
    padding: 4%;
  }
  .question_answers .question_answer > div {
    font-size: 6vw;
    font-weight: bold;
    margin-right: 10%;
  }
  .game_info div {
    padding: 2vw;
    font-size: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
/* loaders */
/* first */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background:rgba(0, 0, 0, 0.7);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
/* second */
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
